/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    height: 100%;
    min-height: 100%;
    line-height: 22px;
    color: #010000;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    background: #e6e6e6;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #010000;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
}

a {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #010000;
    cursor: pointer;
}

a:hover {
    color: hsl(2, 76%, 26%);
}

a,
a:hover {
    color: hsl(2, 76%, 26%);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 1345px;
    margin: 0 auto;
    padding: 5px;
    background: #FFFFFF;
    border: 1.5px solid #BFBEBE;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 15px #888888;
    -moz-box-shadow: 0px 0px 15px #888888;
    box-shadow: 0px 0px 15px #888888;
}

app-header {
    display: block;
    width: 100%;
    height: 150px;
    background-color: #FFFFFF;
    position: relative;
}

app-header .main table {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    /*border: 1px solid black; */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

app-nav {
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    padding: 0;
    background: hsl(2, 75%, 26%);
    color: #FFFFFF;
}

app-nav,
app-nav ul {
    margin: 0;
    padding: 0;
}

app-nav ul li {
    display: inline-block;
    margin: 0 5px 0 0;
}

app-nav ul li a {
    display: block;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 20px;
}

app-nav ul li a:hover {
    background: #FFFFFF;
    color: #010000;
}

#container .main {
    display: inline-block;
    margin: 35px 0;
    padding: 0 35px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #7D7D7D;
    margin: 1em auto;
    margin-left: 37px;
    margin-right: 37px;
    padding: 0;
}

app-footer h1 {
    display: block;
    text-align: center;
    min-height: 100px;
    padding: 5px;
    margin-left: 37px;
    margin-right: 37px;
}

@media only screen and (max-width: 1345px) {
    #container {
        width: auto;
        margin: 1% 3%;
    }
}